version: "3.7"

services:

  postgres-nati:
    container_name: postgres-nati
    image: postgres:10-alpine
    restart: "no"
    ports:
      - "$POSTGRES_PORT:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB:  ${POSTGRES_DATABASE}
      PGPASSWORD: ${POSTGRES_ADMIN_PASSWORD}
    volumes:
      - my-db:/var/lib/postgresql/data:cached
    networks: 
      - dev-nati

  redis-nati:
    container_name: redis-nati
    image: bitnami/redis:5.0
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - my-redis:/bitnami/redis/data
    networks: 
      - dev-nati

  localstack-nati:
      container_name: localstack-nati
      image: localstack/localstack-full:0.12.6
      ports:
        - "${AWS_PORT}:4566"
      networks: 
        - dev-nati
      environment:
        - SERVICES=s3
        - PORT_WEB_UI=8088
        - DEFAULT_REGION=us-west-1
        - DATA_DIR=./localstack/data
      volumes:
        - ./localstack/docker-entrypoint-initaws.d:/docker-entrypoint-initaws.d

  frontend-nati:
      image: node:12
      user: node
      container_name: frontend-nati
      working_dir: $NATI_FRONTEND_FOLDER
      command: npm start
      volumes:
        - "../../nati-papelera-frontend:$NATI_FRONTEND_FOLDER:cached"
      ports:
        - "3000:3000"
      networks: 
        - dev-nati
      environment: 
        - "REACT_APP_JWT_SECRET_KEY=$JWT_SECRET_KEY"
        - "REACT_APP_FACEBOOK_APP_ID=$FACEBOOK_APP_ID"
        - "REACT_APP_MERCADOLIBRE_APP_ID=$MERCADOLIBRE_APP_ID"
        - "REACT_APP_INSTAGRAM_CLIENT_ID=$INSTAGRAM_CLIENT_ID"
        - "REACT_APP_API_URL=$API_URL"
        - "REACT_APP_TIMEOUT=10000"

  backend-nati:
      image: node:12
      user: node
      command: npm run start:debug
      container_name: backend-nati
      working_dir: $NATI_BACKEND_FOLDER
      volumes:
        - "../../nati-papelera-backend:$NATI_BACKEND_FOLDER:cached"
      ports:
        - "3001:3001"
      env_file: .env
      networks: 
        - dev-nati

  nginx-nati:
      container_name: nginx-nati
      image: nginx:1.18.0
      volumes:
          - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
          - ./nginx/ssl:/etc/nginx/ssl:ro
      ports:
        - "80:9080"
        - "443:9443"
      networks:
        - dev-nati

volumes:
  my-db:
  my-redis:

networks:
  dev-nati:
    name: dev-nati-network
